# BACKEND ENV VARIABLES (Save as server/.env)
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/crm-bda
JWT_SECRET=yoursupersecurejwtsecretkeygoeshere

# FRONTEND ENV VARIABLES (Save as client/.env)
VITE_API_URL=http://localhost:5000/api
